body{
  color: white;
}

.mainDiv {
  margin: auto;
  margin-top: 2%;
  width: 90%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.507);
  border-radius: 20px;
  padding: 10px;
  color : white;
  border: 1px solid rgba(140, 0, 255, 0.125);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.image{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 6%;
  text-align:center; display:table-cell; vertical-align:middle;
}