.example-container {
    height: 100%;
    background-color: transparent;

  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .example-sidenav {
    padding: 20px;
  }